* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #2932bda4;
  padding: 0 15px;
  box-sizing: border-box;
}

/*---------Header---------*/
header{
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #2932bd50;
}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: #2932bd;
}

li{
  list-style: none;
}

header ul{
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li{
  padding: 0 1rem;
}

header ul li a{
  font-weight: bold;
}

header .cart{
  position: relative;
  cursor: pointer;
}

header .cart box-icon{
  width: 45px;
  height: 45px;
}

header .cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: crimson;
}

/*---------Inicio---------*/
.inicio{
  width: 100%;
  margin: 0 auto;
  padding-top: 9 rem;
}

.inicio h1{
  font-size: 2.5rem;
  color: #2932bd;
}

.inicio img{
  width: 100%;
}

/*----------Productos---------*/
.title{
  font-size: 2rem;
  padding: 10rem 0 0 0;
  color:#2932bd;
}

.products{
  padding: 5rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}

.product{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}

.product:hover{
  border: 6px solid #2932bd55;
}

.product_img img{
  width: 310px;
}

.product__footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}

.product__footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
}

.product__footer .price{
  font-size: 2rem;
  color: #1a202c;
}

.product .button{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
  padding: 0 1rem;
  margin: 1rem;
}

.button .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.button button{
  background-color: #bcba29;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

.button div{
  background-color: #2932bd;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.button div a{
  color: white;
  font-weight: 700;
}

.button div a:hover{
  color: white;
}

/*------------Media--------*/
@media only screen and (max-width:600px){
  header ul{
    display: none;
  }
}